@media screen and (max-width: 1090px) {
    .showpiece-project .button {
        border: 1px solid transparent;
        padding: 10px 10px;
    }

    .project .button {
        border: 1px solid transparent;
        padding: 10px 10px;
    }
}

 

/* tablets and smaller */

/* Navigation */
@media screen and (max-width: 992px) {
    .navigation {
        position: static;
        flex-wrap: wrap;
    }

    .navigation ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;
    }

    .navigation ul li {
        display: flex;
        margin-top: 20px;
    }

/* About Me */

    .main-section {
        display: flex;
        flex-direction: column-reverse;
    }

    .hire-me-button {
        margin-bottom: 40px;
    }

    .about-me-img {
        max-width: 90%;
        height: auto;
    }

/* Portfolio */
/* Showpiece Project */

    .showpiece-project .showpiece-card {
        max-width: 30%;
    }

    .showpiece-project img {
        max-width: 60%;
    }

    .showpiece-project {
        margin-top: auto;
        margin-bottom: auto;
    }

    .showpiece-project .button {
        border: 1px solid transparent;
        padding: 2px 2px;
    }

/* Project Cards */

    .project-box {
        flex-direction: column;
    }

    .project-card {
        max-width: 75%;
    }

/* Contact Me */

    #name, #email, #organisation {
        width: 70%;
    }
    
    #message {
        width: 80%;
    }
}



/* large smartphones */
@media screen and (max-width: 768px) {   
    .showpiece-project img {
        display: none;
    }

    .showpiece-project .showpiece-card {
        min-width: 95%;
    }

    .project .button {
        border: 1px solid transparent;
        padding: 10px 10px;
    }
    
    .showpiece-project .button {
        border: 1px solid transparent;
        padding: 10px 10px;
    }

    .showpiece-card h5 {
        font-size: 50px;
    }
}
  
/* this sizing broke my app so changing button sizes */

@media screen and (max-width: 480px) {
    .project .button {
        border: 1px solid transparent;
        padding: 2px 2px;
    }
}

@media screen and (max-width: 380px) {
    .showpiece-project .button {
        border: 1px solid transparent;
        padding: 2px 2px;
    }
}