/*body {
    display: flex;
    flex-direction: column;
    line-height: 1;
  }*/

  /*playing with stuff i am not quite sure of*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: #000000;
    color: rgb(111, 120, 158);
  }

.nav-list ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    font-size: 120%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.name {
    font-size: 300%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*.project-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }*/

.wrapper {
    display: flex;
    justify-content:center;
}

.box {
    width:300px;
    height:300px;
    border:1px solid black;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;   
    margin-right: 40px;
 }

 /*fix margin bottom*/
 .footer {
     margin-top: 40px;
 }