/* even though Sam doesn't like it, a lot of videos i
have been watching all use a starting universal tag */

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  /* new header trial, seemed to get it to do what i
   wanted */

  .navigation {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: lightslategray;
      position: sticky;
      top: 0;
  }

  .navigation ul {
      display: flex;
      list-style: none;
      margin: 30px 5px;
  }

  .navigation ul li {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 1.2rem;
      font-weight: bold;
      
  }

  .navigation ul li a{
      text-decoration: none;
      color: white;
      padding: 10px 90px;
      transition: all 0.6s ease;
      border-radius: 20px;
  }

  .navigation ul li a:hover {
      background-color: white;
      color: black;
      box-shadow: 10 10 20px white;
  }

  /*above is updated navbar, this is my second version*/

  /* About me code below */



/* deleted a bunch of css code, going to attempt about
me section with a picture */

.wrapper {
    display: flex;
    justify-content:center;
}

.box {
    width:300px;
    height:300px;
    border:1px solid black;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;   
    margin-right: 40px;
 }

 /*fix margin bottom*/
 .footer {
     margin-top: 40px;
 }